body{
    background-color: rgb(242, 242, 213);
}
h1{
    color: black;
}
.innerbox1{
    padding: 20px;
    background-color: blueviolet;
}
.innerbox2{
    padding: 50px;
    background-color: rgb(255, 126, 195);
    
}
#familyMembers{
    color: brown;
}